name: build

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  images:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        arch: ["amd64", "arm64"]

    steps:
      - uses: actions/checkout@v4

      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: "3.3.6"

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Install gems
        run: bundle install

      - name: Build docker images
        run: bundle exec rake build ARCH=${{ matrix.arch }}

      - name: Setup docker credentials
        run: echo ${{ secrets.DOCKER_TOKEN }} | docker login -u stkaes --password-stdin
        if: github.event_name == 'push' && github.ref == 'refs/heads/master'

      - name: Push container to docker registry
        run: bundle exec rake upload ARCH=${{ matrix.arch }}
        if: github.event_name == 'push' && github.ref == 'refs/heads/master'

  manifest:
    runs-on: ubuntu-latest
    needs: images

    steps:
      - uses: actions/checkout@v4

      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: "3.3.6"

      - name: Install gems
        run: bundle install

      - name: Setup docker credentials
        run: echo ${{ secrets.DOCKER_TOKEN }} | docker login -u stkaes --password-stdin
        if: github.event_name == 'push' && github.ref == 'refs/heads/master'

      - name: Create multiarch manifest
        run: bundle exec rake manifest
        if: github.event_name == 'push' && github.ref == 'refs/heads/master'

  package:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        os: [focal, jammy, noble]
        arch: ["amd64", "arm64"]

    steps:
      - uses: actions/checkout@v4

      - name: Setup SSH credentials
        run: |
          mkdir -p ~/.ssh/
          echo "$SSH_KEY" > ~/.ssh/railsexpress.key
          chmod 600 ~/.ssh/railsexpress.key
          cat >>~/.ssh/config <<END
          Host railsexpress.de
            HostName railsexpress.de
            User uploader
            IdentityFile ~/.ssh/railsexpress.key
            StrictHostKeyChecking no
          END
        env:
          SSH_KEY: ${{ secrets.RAILSEXPRESS_SSH_KEY }}
        if: github.event_name == 'push' && github.ref == 'refs/heads/master'

      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: "3.3.6"

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Install gems
        run: bundle install

      - name: Build package and upload
        run: bundle exec rake package:${{ matrix.os }}:all ARCH=${{ matrix.arch }}
        env:
          LOGJAM_PACKAGE_UPLOAD: ${{ github.ref == 'refs/heads/master' && '1' || '0' }}
